In [1]:
import numpy as np

import pandas as pd

In [2]:
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [3]:
df=pd.read_csv(r"C:\Users\umar\anaconda files\Major_project\Major_projects_data\independent-house - independent-house.csv")
df.sample(5)

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
671,5 Bedroom House for sale in Sector 53 Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,4 Crore,"₹ 17,778/sq.ft.",(209 sq.m.) Plot Area,Plot area 250(209.03 sq.m.),5 Bedrooms,5 Bathrooms,2 Balconies,Study Room,"Near Paras Hospital, Sushant Lok Phase 1, E-Bl...",3 Floors,NaN,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...",Interested to sell independent house/villa.It ...,NaN,"['Private Garden / Terrace', 'Water Storage', ...","['Environment4 out of 5', 'Lifestyle5 out of 5...",H47319641
1067,3 Bedroom House for sale in Sector 23A Gurgaon,https://www.99acres.com/3-bhk-bedroom-independ...,NaN,1.2 Crore,"₹ 6,230/sq.ft.",(179 sq.m.) Plot Area,Plot area 214(178.93 sq.m.)Built Up area: 1500...,3 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 23, Sector 23A Gurgaon, Gurgaon, Haryana",3 Floors,NaN,0 to 1 Year Old,"['HUDA Sector 23 Market', 'Palam triangle', 'P...",Property sale in huda sector 23a plot size 212...,"['5 Fan', '1 Exhaust Fan', '2 Geyser', '1 Micr...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety5 out of 5', ...",A68198356
602,3 Bedroom House for sale in Nirvana Country,https://www.99acres.com/3-bhk-bedroom-independ...,NaN,7 Crore,"₹ 32,407/sq.ft.",(201 sq.m.) Built-up Area,Built Up area: 240 (200.67 sq.m.),3 Bedrooms,2 Bathrooms,No Balcony,NaN,"Nirvana Country, Gurgaon, Haryana",1 Floors,NaN,undefined,NaN,"2 bath, semi-Furnished, at nirvana country loc...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5...",K65241020
364,4 Bedroom House for sale in Sector 13 Gurgaon,https://www.99acres.com/4-bhk-bedroom-independ...,NaN,NaN,"₹ 10,134/sq.ft.",(83 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,9 Bedroom House for sale in Palam Vihar,https://www.99acres.com/9-bhk-bedroom-independ...,NaN,3.65 Crore,"₹ 23,442/sq.ft.",(145 sq.m.) Plot Area,Plot area 173(144.65 sq.m.),9 Bedrooms,9 Bathrooms,3+ Balconies,"Pooja Room,Servant Room","Palam Vihar, Gurgaon, Haryana",3 Floors,West,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Nice kuxury indipendent house,close to delhi,c...","['1 Water Purifier', '18 Fan', '1 Exhaust Fan'...","['Security / Fire Alarm', 'Private Garden / Te...","['Environment5 out of 5', 'Lifestyle5 out of 5...",B69812818

In [4]:
#Shape
df.shape

(1095, 21)

In [5]:
#info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1095 non-null   object
 1   link             1095 non-null   object
 2   society          471 non-null    object
 3   price            968 non-null    object
 4   rate             1054 non-null   object
 5   area             1095 non-null   object
 6   areaWithType     987 non-null    object
 7   bedRoom          987 non-null    object
 8   bathroom         987 non-null    object
 9   balcony          987 non-null    object
 10  additionalRoom   589 non-null    object
 11  address          1031 non-null   object
 12  noOfFloor        967 non-null    object
 13  facing           674 non-null    object
 14  agePossession    987 non-null    object
 15  nearbyLocations  913 non-null    object
 16  description      1036 non-null   object
 17  furnishDetails   743 non-null    object
 18  features         674 non-null    object
 19  rating           907 non-null    object
 20  property_id      1036 non-null   object
dtypes: object(21)
memory usage: 179.8+ KB

In [6]:
# Check for duplicate

df.duplicated().sum()

np.int64(13)

In [7]:
df=df.drop_duplicates()

In [8]:
#Shape
df.shape

(1082, 21)

In [9]:


# Check for missing values

df.isnull().sum()

property_name        0
link                 0
society            619
price              127
rate                41
area                 0
areaWithType       108
bedRoom            108
bathroom           108
balcony            108
additionalRoom     504
address             64
noOfFloor          127
facing             420
agePossession      108
nearbyLocations    182
description         59
furnishDetails     350
features           420
rating             188
property_id         59
dtype: int64

In [10]:
#we are dropping columns like property_name, links, property_id as there are no use of these cols in or project

df.drop(columns=["link","property_id"],inplace=True)

In [11]:
df.head()

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [12]:
#rename columns
df.rename(columns={"area":"price_per_sqft"},inplace=True)
df.head()

#we are renaming area columns as price_per_sqft as the column name was not correct earlier.

,property_name,society,price,rate,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [13]:


#society
df["society"].value_counts()

society
Emaar MGF Marbella                                   26
International City by SOBHA Phase 2                  26
Vipul Tatvam Villa                                   25
International City by Sobha Phase 1                  23
Unitech Uniworld Resorts                             14
DLF City Plots Phase 2                               11
Unitech Espace                                       11
DLF City Plots                                       11
Eldeco Mansionz                                       9
Bptp Visionnaire                                      8
Uppal Southend4.0 ★                                   8
Not Applicable                                        7
Ansals Palam Vihar                                    6
Sushant Lok 1 Builder Floors                          6
Experion Windchants3.8 ★                              5
DLF City Phase 1                                      5
DLF Alameda                                           4
Ansals Florence Villa                                 4
DLF New Town Heights 24.0 ★                           4
nul                                                   4
Unitech Nirvana Birch Court                           4
Unitech Aspen Greens                                  4
Vatika India Next4.1 ★                                4
Ansal Sushant Lok Plots4.1 ★                          4
DLF City Plots Phase 3                                3
Puri Diplomatic Greens4.0 ★                           3
Tata Primanti4.1 ★                                    3
Bestech Park View Ananda4.2 ★                         3
Housing Board Colony                                  3
Central Park Flower Valley                            3
Anant Raj Estates                                     3
Rattan Garden                                         3
BPTP Astaire Gardens3.7 ★                             3
Silverglades Tarudhan Valley Golf Resort              3
SS Aaron Ville                                        3
Eros Rosewood City4.0 ★                               3
Sector 14 RWA                                         3
Vatika Signature Villas                               3
Eros Rosewood Villas                                  3
HUDA Ashok Vihar Phase 13.9 ★                         3
Malibu Towne                                          3
Palam Vihar Extension West Zone RWA                   3
Hans Enclave                                          3
Spaze Privy3.9 ★                                      2
Project Mianwali Colony                               2
Project Housing Board Colony                          2
Sobha City                                            2
Ardee City3.8 ★                                       2
DLF City Plots Phase 4                                2
Suncity Essel Towers4.2 ★                             2
Ansal Sushant Residency                               2
DLF South City 1                                      2
Luxury DLF City Floors                                2
Ansal API Esencia3.7 ★                                2
Emaar Emerald Hills4.1 ★                              2
shivpuri                                              2
Unitech Deerwood Chase                                2
Suncity Township4.1 ★                                 2
Emaar The Palm Springs                                2
Nirvana Cedar Crest                                   2
Satya The Hermitage3.5 ★                              2
Bhim Garh Kheri                                       2
Signature Global City 92                              2
SS Hibiscus                                           2
Unitech Palms South City 1                            2
BPTP Pedestal                                         2
Saksham Welfare Association                           2
Sector 38 RWA                                         2
IFFCO Nagar and 17B RWA                               2
RWA Sector 46                                         2
Unitech Escape3.8 ★                                   2
Ninex City                                            1
My Home                                               1
Signature Global Park4.0 ★                            1
DLF New Town Heights3.7 ★                             1
All Punjabi Welfare Association                       1
FLOOR WISE DESIGNER KOTHI                             1
sector 37                                             1
Grover Homes Sec 4                                    1
Ansal Heights3.2 ★                                    1
rajendra park sec 105                                 1
Ashok Vihar Phase 3 Gurgaon                           1
secter 16a daultabad faridabad house no 313           1
Prem Kunj                                             1
Farrukhnagar                                          1
Sector-17C                                            1
Anant Raj Manor Villas                                1
huda sector-56 gurgaon                                1
private house                                         1
patel nager house no 927/5                            1
Om Nagar, Sector-11                                   1
Bhawani enclave                                       1
Smart World Gems                                      1
Ganpati Heights Apartment                             1
Hero Homes                                            1
Jacobpura Gurugram                                    1
Anand Garden, Sector-105                              1
RK Excelo                                             1
Laxmi Garden Sector-11                                1
shree krishna homes                                   1
mian wali                                             1
Shri Shyam Residency                                  1
ROW HOUSE                                             1
HUDA Plot Sector 38                                   1
Madan puri                                            1
Ansal Celebrity Homes                                 1
HUDA Housing Board Colony4.1 ★                        1
Surat nagar phase 2                                   1
bhim nagar, sector 6                                  1
Emaar MGF The Palm Drive4.1 ★                         1
Tulip Ivory3.5 ★                                      1
Huda Plots                                            1
Vatika Sovereign Next                                 1
MANOHAR NAGAR                                         1
Laxman vihar phase 2                                  1
Anamika Enclave                                       1
Surendra Homes Dayanand Colony                        1
DLF The Grove                                         1
DLF Garden City Floors                                1
DLF The Arbour                                        1
house number B-34                                     1
ATS Tourmaline3.9 ★                                   1
Rajendra Park Gurgaon                                 1
DLF Gardencity Enclave                                1
Vipul World3.9 ★                                      1
Greenopolis                                           1
Ansal Esencia Sovereign Floors                        1
Nirmal Enclave, Maruti Kunj Road                      1
jacob pura                                            1
mahavir pura                                          1
Raj Villas                                            1
Shivaji Nagar Residential                             1
Naman Residency                                       1
Bhim Nagar Society                                    1
Sai Kripa Floors 5                                    1
DLF City Plot Phase 4                                 1
Krishna Palace                                        1
Indiabulls Centrum Park3.7 ★                          1
Jacobpura                                             1
Huda Flats                                            1
Tulip Yellow                                          1
Sector 15 Part 2 RWA                                  1
Ansal                                                 1
Nitin Vihar                                           1
rattan vihar rajendra park                            1
Signature Global City 63A                             1
Landmark House                                        1
Ashok vihar phase III Extension                       1
Adani Brahma Samsara4.2 ★                             1
DLF City Plot Phase 3                                 1
Anshul                                                1
Sare Crescent Parc Royal Greens Phase 1               1
Suncity Avenue 76                                     1
Sheetla Enclave                                       1
sneh vihar                                            1
SS Omnia                                              1
Ireo Victory Valley4.1 ★                              1
4S Aradhya Homes                                      1
Ansal API Spanish Court                               1
Central Park Flower Valley Cerise Floors              1
Birla Navya                                           1
cloudnine cottages                                    1
nirvana country                                       1
Kothi                                                 1
u block dlf phase 3 road no 21                        1
Signature Global City 81                              1
Central Park                                          1
Ansal Florence Super                                  1
DLF Floors Phase 3                                    1
Signature Global City                                 1
Smart World Orchard                                   1
Unitech South City 23.8 ★                             1
Ireo Victory Valley4.0 ★                              1
Independent House Sector 45                           1
Vatika The Seven Lamps3.8 ★                           1
Unitech Greenwood City3.6 ★                           1
Nirvana Country                                       1
Ansal Sushant Lok                                     1
Satya The Legend3.8 ★                                 1
DLF Pink Town House4.0 ★                              1
Vatika Independent Floors3.8 ★                        1
Arjun Marg/ Sector- 26 Phase- 1/ Golf Course Road     1
The Laburnum                                          1
Ansal Sushant Lok 2                                   1
Sector 57 Huda                                        1
Godrej Meridien                                       1
Huda                                                  1
Huda Floor                                            1
Name: count, dtype: int64

In [14]:
#society
df["society"].value_counts().shape

(188,)

In [15]:
import re
df['society']=df['society'].apply(lambda name: re.sub(r"\d+(\.\d+)?\s?★","",str(name)).strip()).str.lower()

In [16]:
df["society"].value_counts().shape

(186,)

In [17]:
df["society"].value_counts()

society
nan                                                  619
emaar mgf marbella                                    26
international city by sobha phase 2                   26
vipul tatvam villa                                    25
international city by sobha phase 1                   23
unitech uniworld resorts                              14
unitech espace                                        11
dlf city plots phase 2                                11
dlf city plots                                        11
eldeco mansionz                                        9
bptp visionnaire                                       8
uppal southend                                         8
not applicable                                         7
ansals palam vihar                                     6
sushant lok 1 builder floors                           6
dlf new town heights                                   5
experion windchants                                    5
dlf city phase 1                                       5
nul                                                    4
unitech nirvana birch court                            4
unitech aspen greens                                   4
ansals florence villa                                  4
dlf alameda                                            4
ansal sushant lok plots                                4
vatika india next                                      4
central park flower valley                             3
bestech park view ananda                               3
huda ashok vihar phase                                 3
anant raj estates                                      3
housing board colony                                   3
hans enclave                                           3
tata primanti                                          3
eros rosewood villas                                   3
eros rosewood city                                     3
sector 14 rwa                                          3
vatika signature villas                                3
ss aaron ville                                         3
rattan garden                                          3
malibu towne                                           3
palam vihar extension west zone rwa                    3
puri diplomatic greens                                 3
dlf city plots phase 3                                 3
bptp astaire gardens                                   3
silverglades tarudhan valley golf resort               3
bhim garh kheri                                        2
ardee city                                             2
project mianwali colony                                2
project housing board colony                           2
ansal api esencia                                      2
luxury dlf city floors                                 2
dlf city plots phase 4                                 2
shivpuri                                               2
spaze privy                                            2
dlf south city 1                                       2
suncity essel towers                                   2
ansal sushant residency                                2
emaar emerald hills                                    2
unitech deerwood chase                                 2
emaar the palm springs                                 2
nirvana cedar crest                                    2
suncity township                                       2
nirvana country                                        2
saksham welfare association                            2
bptp pedestal                                          2
ss hibiscus                                            2
ireo victory valley                                    2
satya the hermitage                                    2
sobha city                                             2
signature global city 92                               2
unitech escape                                         2
iffco nagar and 17b rwa                                2
unitech palms south city 1                             2
rwa sector 46                                          2
sector 38 rwa                                          2
ninex city                                             1
ansal heights                                          1
rajendra park sec 105                                  1
patel nager house no 927/5                             1
ashok vihar phase 3 gurgaon                            1
farrukhnagar                                           1
prem kunj                                              1
secter 16a daultabad faridabad house no 313            1
huda sector-56 gurgaon                                 1
private house                                          1
sector-17c                                             1
all punjabi welfare association                        1
anant raj manor villas                                 1
sector 37                                              1
grover homes sec 4                                     1
floor wise designer kothi                              1
hero homes                                             1
jacobpura gurugram                                     1
anand garden, sector-105                               1
rk excelo                                              1
surendra homes dayanand colony                         1
dlf the grove                                          1
ganpati heights apartment                              1
smart world gems                                       1
shri shyam residency                                   1
ansal celebrity homes                                  1
huda plot sector 38                                    1
mian wali                                              1
huda housing board colony                              1
ats tourmaline                                         1
bhawani enclave                                        1
signature global park                                  1
tulip ivory                                            1
huda plots                                             1
dlf garden city floors                                 1
dlf the arbour                                         1
laxman vihar phase 2                                   1
anamika enclave                                        1
emaar mgf the palm drive                               1
bhim nagar, sector 6                                   1
manohar nagar                                          1
vatika sovereign next                                  1
house number b-34                                      1
om nagar, sector-11                                    1
rajendra park gurgaon                                  1
my home                                                1
surat nagar phase 2                                    1
dlf gardencity enclave                                 1
ansal esencia sovereign floors                         1
nirmal enclave, maruti kunj road                       1
jacob pura                                             1
mahavir pura                                           1
raj villas                                             1
shivaji nagar residential                              1
bhim nagar society                                     1
sai kripa floors 5                                     1
huda flats                                             1
dlf city plot phase 4                                  1
krishna palace                                         1
naman residency                                        1
row house                                              1
madan puri                                             1
indiabulls centrum park                                1
jacobpura                                              1
tulip yellow                                           1
shree krishna homes                                    1
laxmi garden sector-11                                 1
ansal                                                  1
adani brahma samsara                                   1
ashok vihar phase iii extension                        1
rattan vihar rajendra park                             1
signature global city 63a                              1
sheetla enclave                                        1
sneh vihar                                             1
vipul world                                            1
greenopolis                                            1
anshul                                                 1
ss omnia                                               1
suncity avenue 76                                      1
sare crescent parc royal greens phase 1                1
4s aradhya homes                                       1
ansal api spanish court                                1
central park flower valley cerise floors               1
birla navya                                            1
kothi                                                  1
u block dlf phase 3 road no 21                         1
sector 15 part 2 rwa                                   1
landmark house                                         1
nitin vihar                                            1
cloudnine cottages                                     1
dlf city plot phase 3                                  1
dlf floors phase 3                                     1
signature global city                                  1
unitech south city                                     1
smart world orchard                                    1
ansal florence super                                   1
independent house sector 45                            1
unitech greenwood city                                 1
ansal sushant lok                                      1
vatika the seven lamps                                 1
central park                                           1
signature global city 81                               1
satya the legend                                       1
dlf pink town house                                    1
vatika independent floors                              1
arjun marg/ sector- 26 phase- 1/ golf course road      1
the laburnum                                           1
ansal sushant lok 2                                    1
sector 57 huda                                         1
godrej meridien                                        1
huda                                                   1
huda floor                                             1
Name: count, dtype: int64

In [18]:
df["society"]=df["society"].str.replace("nan","independent")

In [19]:
df.head()

,property_name,society,price,rate,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [20]:
#price
df["price"].value_counts()

price
3.5 Crore           19
5.5 Crore           17
6.5 Crore           16
6 Crore             14
4.5 Crore           13
5 Crore             13
8 Crore             13
50 Lac              13
75 Lac              13
70 Lac              13
7 Crore             12
8.5 Crore           12
85 Lac              12
1.5 Crore           11
4 Crore             11
90 Lac              10
Price on Request    10
2.25 Crore          10
45 Lac              10
60 Lac              10
10 Crore            10
2.5 Crore           10
9 Crore             10
12 Crore             9
2 Crore              9
80 Lac               9
9.5 Crore            9
1.1 Crore            9
1.7 Crore            9
1 Crore              8
1.6 Crore            8
11 Crore             8
6.75 Crore           8
4.6 Crore            8
3.75 Crore           7
1.2 Crore            7
55 Lac               7
40 Lac               7
1.3 Crore            7
12.5 Crore           7
95 Lac               7
65 Lac               7
1.35 Crore           7
2.1 Crore            7
7.5 Crore            6
6.25 Crore           6
3.25 Crore           6
2.95 Crore           6
10.5 Crore           6
13.5 Crore           6
3.6 Crore            6
2.75 Crore           6
1.45 Crore           6
5.7 Crore            6
4.25 Crore           6
1.15 Crore           6
16 Crore             6
15 Crore             5
3 Crore              5
1.25 Crore           5
5.6 Crore            5
38 Lac               5
4.75 Crore           5
7.25 Crore           5
35 Lac               5
2.8 Crore            5
1.8 Crore            5
18 Crore             4
13 Crore             4
4.35 Crore           4
17 Crore             4
3.3 Crore            4
5.8 Crore            4
9.25 Crore           4
1.4 Crore            4
1.65 Crore           4
3.2 Crore            4
5.75 Crore           4
37 Lac               4
4.7 Crore            4
11.5 Crore           4
6.8 Crore            4
2.4 Crore            4
42 Lac               4
8.25 Crore           4
5.25 Crore           4
20 Crore             3
1.95 Crore           3
4.45 Crore           3
62 Lac               3
5.65 Crore           3
82 Lac               3
2.2 Crore            3
6.95 Crore           3
3.85 Crore           3
1.55 Crore           3
2.3 Crore            3
3.1 Crore            3
1.85 Crore           3
92 Lac               3
5.15 Crore           3
32 Lac               3
34 Lac               3
49 Lac               3
1.16 Crore           3
7.35 Crore           3
2.9 Crore            3
3.4 Crore            3
1.9 Crore            3
4.3 Crore            3
8.4 Crore            3
7.2 Crore            3
19 Crore             3
6.4 Crore            3
11.95 Crore          2
1.05 Crore           2
14 Crore             2
11.25 Crore          2
6.3 Crore            2
30 Lac               2
10.45 Crore          2
66 Lac               2
36 Lac               2
26 Crore             2
11.75 Crore          2
8.49 Crore           2
2.55 Crore           2
3.55 Crore           2
3.15 Crore           2
9.9 Crore            2
15.5 Crore           2
58.25 Lac            2
2.15 Crore           2
67 Lac               2
3.05 Crore           2
1.75 Crore           2
48 Lac               2
10.85 Crore          2
7.1 Crore            2
58 Lac               2
4.95 Crore           2
19.5 Crore           2
3.65 Crore           2
10.55 Crore          2
3.35 Crore           2
89 Lac               2
3.51 Crore           2
6.6 Crore            1
6.2 Crore            1
5.9 Crore            1
8.8 Crore            1
1.87 Crore           1
4.12 Crore           1
5.35 Crore           1
5.85 Crore           1
7.05 Crore           1
2.68 Crore           1
2.7 Crore            1
10.75 Crore          1
61 Lac               1
18.25 Crore          1
2.35 Crore           1
8.6 Crore            1
9.55 Crore           1
9.8 Crore            1
4.99 Crore           1
9.85 Crore           1
1.18 Crore           1
9.01 Crore           1
15.1 Crore           1
1.04 Crore           1
25 Crore             1
8.7 Crore            1
15.5 Lac             1
12.39 Crore          1
7.49 Crore           1
55.11 Lac            1
68 Lac               1
4.65 Crore           1
6.1 Crore            1
1.72 Crore           1
52 Lac               1
78 Lac               1
1.52 Crore           1
2.58 Crore           1
8.95 Crore           1
13.2 Crore           1
51 Lac               1
53 Lac               1
63 Lac               1
7.69 Crore           1
22 Lac               1
7.5 Lac              1
3.12 Crore           1
11.3 Crore           1
3.69 Crore           1
4.02 Crore           1
3.93 Crore           1
29 Lac               1
3.08 Crore           1
18 Lac               1
24 Lac               1
98 Lac               1
83 Lac               1
7.99 Crore           1
5.4 Crore            1
65.8 Lac             1
18.02 Crore          1
96 Lac               1
13 Lac               1
69 Lac               1
2.43 Crore           1
74 Lac               1
3.09 Crore           1
44 Lac               1
47.5 Lac             1
59 Lac               1
1.39 Crore           1
3.87 Crore           1
2.6 Crore            1
1.34 Crore           1
46 Lac               1
9.54 Crore           1
14.75 Crore          1
8.1 Crore            1
27 Lac               1
24 Crore             1
7.46 Crore           1
17.3 Crore           1
18.9 Crore           1
47 Lac               1
71 Lac               1
52.5 Lac             1
1.44 Crore           1
3.71 Crore           1
1.07 Crore           1
5.2 Crore            1
42.75 Lac            1
22 Crore             1
4.15 Crore           1
8.9 Crore            1
4.49 Crore           1
8.81 Crore           1
6.81 Crore           1
59.95 Lac            1
3.99 Crore           1
18.5 Crore           1
27.5 Crore           1
8.31 Crore           1
6.21 Crore           1
1.83 Crore           1
5.1 Crore            1
5.46 Crore           1
10.56 Crore          1
2.01 Crore           1
3.9 Crore            1
5.88 Crore           1
52.75 Lac            1
12.25 Crore          1
46.75 Lac            1
9.4 Crore            1
10.3 Crore           1
8.45 Crore           1
6.15 Crore           1
2.47 Crore           1
3.7 Crore            1
18.4 Crore           1
4.4 Crore            1
7.3 Crore            1
7.6 Crore            1
2.65 Crore           1
99 Lac               1
11.29 Crore          1
1.27 Crore           1
11.58 Crore          1
8.48 Crore           1
8.2 Crore            1
4.31 Crore           1
3.49 Crore           1
2.99 Crore           1
9.19 Crore           1
1.64 Crore           1
9.35 Crore           1
4.05 Crore           1
8.75 Crore           1
5.51 Crore           1
23 Crore             1
2.45 Crore           1
7.85 Crore           1
5.3 Crore            1
10.8 Crore           1
31.5 Crore           1
4.1 Crore            1
7.65 Crore           1
6.46 Crore           1
6.44 Crore           1
7.8 Crore            1
3.8 Crore            1
7.45 Crore           1
7.42 Crore           1
6.09 Crore           1
2.98 Crore           1
Name: count, dtype: int64

In [21]:
df[df["price"]=="Price on Request"]
# cheking how many row have "Price on Request"

,property_name,society,price,rate,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
295,2 Bedroom House for sale in Sector 8 Gurgaon,independent,Price on Request,NaN,(74 sq.m.) Built-up Area,Built Up area: 800 (74.32 sq.m.),2 Bedrooms,1 Bathroom,No Balcony,NaN,"Sector 8 Gurgaon, Gurgaon, Haryana",1 Floors,NaN,undefined,NaN,"1 bath, semi-Furnished, at sector 8 location g...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
296,3 Bedroom House for sale in Dharam Colony,independent,Price on Request,NaN,(93 sq.m.) Carpet Area,Carpet area: 1000 (92.9 sq.m.),3 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Dharam Colony, Gurgaon, Haryana",2 Floors,NaN,undefined,NaN,"2 bath, unfurnished, at dharam colony location...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
325,5 Bedroom House for sale in Laxman Vihar,independent,Price on Request,NaN,(167 sq.m.) Built-up Area,Built Up area: 1800 (167.23 sq.m.),5 Bedrooms,8 Bathrooms,3+ Balconies,NaN,"Phase 2, Laxman Vihar, Gurgaon, Haryana",2 Floors,North,undefined,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","8 bath, unfurnished, overlooking main road, no...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
326,3 Bedroom House for sale in Laxman Vihar,independent,Price on Request,NaN,(223 sq.m.) Built-up Area,Built Up area: 2400 (222.97 sq.m.)Carpet area:...,3 Bedrooms,4 Bathrooms,2 Balconies,NaN,"1248 B, Near Hanuman Mandir, Laxman Vihar, Gur...",2 Floors,NaN,undefined,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","4 bath, unfurnished, 1st floor (Of 2), 1 side ...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
402,7 Bedroom House for sale in Rajendra Park,independent,Price on Request,NaN,(585 sq.m.) Built-up Area,Built Up area: 700 (585.29 sq.m.),7 Bedrooms,6 Bathrooms,3 Balconies,NaN,"Rajendra Park, Gurgaon, Haryana",4 Floors,NaN,5 to 10 Year Old,NaN,"6 bath, furnished, 2 side open, at rajendra pa...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
431,3 Bedroom House for sale in Ansal Plaza,independent,Price on Request,NaN,(40 sq.m.) Carpet Area,Carpet area: 429 (39.86 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,NaN,"Ansal Plaza, Sector 23, Ansal Plaza, Gurgaon, ...",4 Floors,NaN,undefined,NaN,Best in class property available at ansal plaz...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
494,2 Bedroom House for sale in Sheetla Colony,independent,Price on Request,NaN,(42 sq.m.) Plot Area,Plot area 50(41.81 sq.m.)Built Up area: 720 sq...,2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Sheetla Colony, Gurgaon, Haryana",2 Floors,NaN,undefined,NaN,"2 bath, semi-Furnished, at sheetla colony loca...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment3 out of 5', 'Lifestyle3 out of 5..."
569,5 Bedroom House for sale in Surat Nagar,independent,Price on Request,NaN,(54 sq.m.) Built-up Area,Built Up area: 65 (54.35 sq.m.),5 Bedrooms,2 Bathrooms,No Balcony,NaN,"Surat Nagar Phase 2, Sector 104, Surat Nagar, ...",2 Floors,NaN,undefined,NaN,5bhk residential house for resale in surat nag...,NaN,NaN,"['Environment3 out of 5', 'Lifestyle3 out of 5..."
595,2 Bedroom House for sale in Dharam Colony Block E,independent,Price on Request,NaN,(84 sq.m.) Built-up Area,Built Up area: 900 (83.61 sq.m.),2 Bedrooms,1 Bathroom,No Balcony,NaN,"Dharam Colony Block E, Gurgaon, Haryana",1 Floors,NaN,undefined,"['Palam triangle', 'Palam Vihar Vyapar kendra'...","1 bath, unfurnished, ground floor (Of 1), at d...",NaN,NaN,NaN
668,4 Bedroom House for sale in Madanpuri,independent,Price on Request,NaN,(167 sq.m.) Carpet Area,Carpet area: 1800 (167.23 sq.m.),4 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Madanpuri, Gurgaon, Haryana",2 Floors,NaN,undefined,NaN,"2 bath, unfurnished, 1 side open, at madan pur...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [22]:
df = df[df["price"] != "Price on Request"]
# Taking all the rows  without "Price on Request"

In [23]:
df.shape

(1072, 19)

In [24]:
df.head()

,property_name,society,price,rate,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [25]:
def treat_price(x):
    # If already float (numeric), return as is
    if isinstance(x, float) or isinstance(x, int):
        return x
    
    # If x is not a list/tuple, return NaN
    if not isinstance(x, (list, tuple)):
        return None
    
    # If the list length is less than 2, return NaN
    if len(x) < 2:
        return None
    
    # Handle "Lac" values
    if x[1] == "Lac":
        return round(float(x[0]) / 100, 2)
    else:  # Assume "Cr" or similar
        return round(float(x[0]), 2)

In [25]:
"""def treat_price(x):
    if type(x)==float:
        return x
    else:
        if x[1]=="Lac":
            return round(float(x[0])/100,2)
        else:
            return round(float(x[0]),2)"""

'def treat_price(x):\n    if type(x)==float:\n        return x\n    else:\n        if x[1]=="Lac":\n            return round(float(x[0])/100,2)\n        else:\n            return round(float(x[0]),2)'

In [26]:
df["price"]=df["price"].str.split(" ").apply(treat_price)

In [27]:
df.head()

,property_name,society,price,rate,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.10,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5.00,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3.00,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [31]:
df.sample(5)

,property_name,society,price,rate,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
145,5 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 2,7.00,"₹ 12,963/sq.ft.",(502 sq.m.) Plot Area,Plot area 600(501.68 sq.m.),5 Bedrooms,6 Bathrooms,2 Balconies,Servant Room,"141, Sector 109 Gurgaon, Gurgaon, Haryana",2 Floors,West,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'Pacific D2...","Peaceful, private, premium, gated, duplex vill...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
972,6 Bedroom House for sale in Sector 33 Gurgaon,unitech uniworld resorts,9.50,"₹ 173,992/sq.ft.",(51 sq.m.) Plot Area,Plot area 546(50.73 sq.m.),6 Bedrooms,6 Bathrooms,3+ Balconies,NaN,"36b B1 Spaze I Tech Park Shona Road, Sector 33...",3 Floors,North-East,5 to 10 Year Old,"['Rajiv Chowk Mosque', 'Airforce Hospital', 'S...",It is a good property. Near by all amenities l...,"['6 Wardrobe', '14 Fan', '1 Exhaust Fan', '7 G...","['Feng Shui / Vaastu Compliant', 'Maintenance ...","['Environment3 out of 5', 'Safety4 out of 5', ..."
993,2 Bedroom House for sale in Sector-33 Sohna,central park flower valley,1.15,"₹ 9,349/sq.ft.",(161 sq.m.) Plot Area,Plot area 1737(161.37 sq.m.)Built Up area: 140...,2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"123, Sector-33 Sohna, Gurgaon, Haryana",2 Floors,North,1 to 5 Year Old,"['Airia Mall', 'NH 248A', 'NE 4, Haryana', 'GD...",The flat is very good location and 100% power ...,"['4 Fan', '1 Exhaust Fan', '2 Geyser', '10 Lig...","['Feng Shui / Vaastu Compliant', 'High Ceiling...",NaN
551,3 Bedroom House for sale in Lajpat Nagar,independent,3.50,"₹ 17,500/sq.ft.",(204 sq.m.) Plot Area,Plot area 2200(204.39 sq.m.)Built Up area: 200...,3 Bedrooms,3 Bathrooms,1 Balcony,NaN,"H.No. 77, Lajpat Nagar Near Miawali Colony, La...",2 Floors,North-East,undefined,NaN,3bhk residential house for resale in lajpat na...,"['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,NaN
338,4 Bedroom House for sale in New Basti,independent,0.63,"₹ 7,875/sq.ft.",(74 sq.m.) Built-up Area,Built Up area: 800 (74.32 sq.m.),4 Bedrooms,2 Bathrooms,1 Balcony,Others,"H No 375/16, Near Anandpur Kutia, New Basti, G...",2 Floors,South-East,10+ Year Old,NaN,Interested to sell independent house/villa.It ...,NaN,['Water Storage'],NaN

In [29]:
#price_per_sqft
df["price_per_sqft"].value_counts()

price_per_sqft
(301 sq.m.) Plot Area            45
(84 sq.m.) Plot Area             40
(251 sq.m.) Plot Area            34
(420 sq.m.) Plot Area            26
(167 sq.m.) Plot Area            26
(226 sq.m.) Plot Area            22
(418 sq.m.) Plot Area            21
(201 sq.m.) Plot Area            19
(125 sq.m.) Plot Area            19
(180 sq.m.) Plot Area            17
(135 sq.m.) Plot Area            16
(209 sq.m.) Plot Area            16
(50 sq.m.) Plot Area             16
(33 sq.m.) Plot Area             14
(171 sq.m.) Plot Area            13
(42 sq.m.) Plot Area             12
(220 sq.m.) Plot Area            12
(334 sq.m.) Plot Area            11
(264 sq.m.) Plot Area            11
(293 sq.m.) Plot Area            11
(51 sq.m.) Plot Area              9
(151 sq.m.) Plot Area             9
(145 sq.m.) Plot Area             8
(502 sq.m.) Plot Area             8
(134 sq.m.) Plot Area             7
(136 sq.m.) Plot Area             7
(161 sq.m.) Plot Area             7
(242 sq.m.) Plot Area             6
(52 sq.m.) Plot Area              6
(650 sq.m.) Built-up Area         6
(84 sq.m.) Carpet Area            6
(836 sq.m.) Plot Area             6
(5 sq.m.) Plot Area               6
(100 sq.m.) Plot Area             6
(279 sq.m.) Built-up Area         6
(268 sq.m.) Plot Area             5
(350 sq.m.) Plot Area             5
(142 sq.m.) Plot Area             5
(297 sq.m.) Plot Area             5
(93 sq.m.) Plot Area              5
(42 sq.m.) Built-up Area          5
(286 sq.m.) Plot Area             5
(56 sq.m.) Plot Area              5
(6 sq.m.) Plot Area               5
(579 sq.m.) Plot Area             5
(435 sq.m.) Plot Area             5
(93 sq.m.) Built-up Area          5
(54 sq.m.) Plot Area              5
(372 sq.m.) Plot Area             5
(521 sq.m.) Built-up Area         5
(253 sq.m.) Plot Area             4
(418 sq.m.) Built-up Area         4
(7 sq.m.) Plot Area               4
(139 sq.m.) Plot Area             4
(217 sq.m.) Plot Area             4
(109 sq.m.) Plot Area             4
(293 sq.m.) Built-up Area         4
(241 sq.m.) Plot Area             4
(22 sq.m.) Plot Area              3
(144 sq.m.) Plot Area             3
(321 sq.m.) Plot Area             3
(91 sq.m.) Plot Area              3
(376 sq.m.) Plot Area             3
(107 sq.m.) Plot Area             3
(84 sq.m.) Built-up Area          3
(102 sq.m.) Built-up Area         3
(232 sq.m.) Plot Area             3
(158 sq.m.) Plot Area             3
(372 sq.m.) Built-up Area         3
(28 sq.m.) Plot Area              3
(9 sq.m.) Plot Area               3
(125 sq.m.) Built-up Area         3
(67 sq.m.) Plot Area              3
(460 sq.m.) Plot Area             3
(63 sq.m.) Plot Area              3
(230 sq.m.) Plot Area             3
(41 sq.m.) Plot Area              3
(100 sq.m.) Built-up Area         3
(83 sq.m.) Plot Area              3
(14 sq.m.) Plot Area              3
(98 sq.m.) Plot Area              3
(184 sq.m.) Plot Area             3
(140 sq.m.) Plot Area             3
(336 sq.m.) Plot Area             3
(557 sq.m.) Built-up Area         3
(105 sq.m.) Plot Area             3
(89 sq.m.) Plot Area              3
(37 sq.m.) Plot Area              3
(223 sq.m.) Plot Area             3
(543 sq.m.) Built-up Area         3
(301 sq.m.) Built-up Area         3
(99 sq.m.) Plot Area              3
(70 sq.m.) Plot Area              2
(135 sq.m.) Carpet Area           2
(110 sq.m.) Carpet Area           2
(299 sq.m.) Plot Area             2
(316 sq.m.) Plot Area             2
(232 sq.m.) Carpet Area           2
(222 sq.m.) Plot Area             2
(590-687 sq.m.) Built-up Area     2
(606-754 sq.m.) Built-up Area     2
(467-681 sq.m.) Built-up Area     2
(244 sq.m.) Plot Area             2
(251 sq.m.) Built-up Area         2
(89 sq.m.) Built-up Area          2
(209 sq.m.) Built-up Area         2
(681 sq.m.) Built-up Area         2
(85 sq.m.) Plot Area              2
(15 sq.m.) Plot Area              2
(46 sq.m.) Plot Area              2
(113 sq.m.) Plot Area             2
(44 sq.m.) Plot Area              2
(186 sq.m.) Built-up Area         2
(606 sq.m.) Built-up Area         2
(468-681 sq.m.) Built-up Area     2
(325 sq.m.) Built-up Area         2
(292-358 sq.m.) Built-up Area     2
(318 sq.m.) Plot Area             2
(372-441 sq.m.) Built-up Area     2
(25 sq.m.) Plot Area              2
(46 sq.m.) Built-up Area          2
(167 sq.m.) Built-up Area         2
(70 sq.m.) Built-up Area          2
(73 sq.m.) Plot Area              2
(344 sq.m.) Built-up Area         2
(207 sq.m.) Built-up Area         2
(650 sq.m.) Plot Area             2
(13 sq.m.) Plot Area              2
(132 sq.m.) Built-up Area         2
(59 sq.m.) Plot Area              2
(43 sq.m.) Plot Area              2
(112 sq.m.) Built-up Area         2
(201 sq.m.) Built-up Area         2
(88 sq.m.) Plot Area              2
(301 sq.m.) Carpet Area           2
(5 sq.m.) Built-up Area           2
(105 sq.m.) Built-up Area         2
(115 sq.m.) Plot Area             2
(46 sq.m.) Carpet Area            2
(33 sq.m.) Built-up Area          2
(15 sq.m.) Built-up Area          2
(45 sq.m.) Built-up Area          2
(146 sq.m.) Plot Area             2
(121 sq.m.) Built-up Area         2
(16 sq.m.) Plot Area              2
(166 sq.m.) Plot Area             2
(75 sq.m.) Carpet Area            2
(121 sq.m.) Plot Area             2
(76 sq.m.) Built-up Area          2
(521 sq.m.) Plot Area             2
(49 sq.m.) Carpet Area            2
(308 sq.m.) Plot Area             2
(111 sq.m.) Built-up Area         2
(149 sq.m.) Built-up Area         2
(353 sq.m.) Built-up Area         2
(219 sq.m.) Built-up Area         2
(34 sq.m.) Plot Area              2
(139 sq.m.) Built-up Area         2
(108 sq.m.) Plot Area             2
(754 sq.m.) Plot Area             1
(176 sq.m.) Plot Area             1
(26 sq.m.) Plot Area              1
(189 sq.m.) Plot Area             1
(466 sq.m.) Built-up Area         1
(288 sq.m.) Plot Area             1
(314 sq.m.) Plot Area             1
(194 sq.m.) Built-up Area         1
(136 sq.m.) Built-up Area         1
(194 sq.m.) Plot Area             1
(443 sq.m.) Plot Area             1
(12 sq.m.) Plot Area              1
(179 sq.m.) Plot Area             1
(168 sq.m.) Plot Area             1
(149 sq.m.) Plot Area             1
(19 sq.m.) Plot Area              1
(509-543 sq.m.) Built-up Area     1
(160 sq.m.) Plot Area             1
(697 sq.m.) Built-up Area         1
(92 sq.m.) Plot Area              1
(465 sq.m.) Plot Area             1
(326 sq.m.) Plot Area             1
(31 sq.m.) Built-up Area          1
(452 sq.m.) Built-up Area         1
(385 sq.m.) Plot Area             1
(540 sq.m.) Built-up Area         1
(363 sq.m.) Built-up Area         1
(92 sq.m.) Built-up Area          1
(177 sq.m.) Plot Area             1
(74 sq.m.) Built-up Area          1
(87 sq.m.) Built-up Area          1
(144 sq.m.) Built-up Area         1
(325 sq.m.) Plot Area             1
(9 sq.m.) Built-up Area           1
(51 sq.m.) Built-up Area          1
(929 sq.m.) Carpet Area           1
(13 sq.m.) Built-up Area          1
(7 sq.m.) Built-up Area           1
(12 sq.m.) Built-up Area          1
(28 sq.m.) Carpet Area            1
(20 sq.m.) Built-up Area          1
(44 sq.m.) Built-up Area          1
(133 sq.m.) Plot Area             1
(167 sq.m.) Carpet Area           1
(278 sq.m.) Built-up Area         1
(153 sq.m.) Plot Area             1
(134 sq.m.) Carpet Area           1
(121 sq.m.) Carpet Area           1
(367 sq.m.) Built-up Area         1
(809371 sq.m.) Plot Area          1
(90 sq.m.) Plot Area              1
(233 sq.m.) Built-up Area         1
(59 sq.m.) Built-up Area          1
(204 sq.m.) Built-up Area         1
(478 sq.m.) Built-up Area         1
(57 sq.m.) Plot Area              1
(132 sq.m.) Plot Area             1
(71 sq.m.) Plot Area              1
(316 sq.m.) Built-up Area         1
(2415 sq.m.) Plot Area            1
(32 sq.m.) Built-up Area          1
(50 sq.m.) Carpet Area            1
(18 sq.m.) Built-up Area          1
(22 sq.m.) Built-up Area          1
(431 sq.m.) Plot Area             1
(200 sq.m.) Built-up Area         1
(95 sq.m.) Plot Area              1
(158 sq.m.) Built-up Area         1
(340 sq.m.) Built-up Area         1
(24 sq.m.) Plot Area              1
(56 sq.m.) Built-up Area          1
(220 sq.m.) Built-up Area         1
(25 sq.m.) Built-up Area          1
(56 sq.m.) Carpet Area            1
(10 sq.m.) Built-up Area          1
(111 sq.m.) Plot Area             1
(261 sq.m.) Plot Area             1
(260 sq.m.) Carpet Area           1
(339 sq.m.) Plot Area             1
(92 sq.m.) Carpet Area            1
(104 sq.m.) Built-up Area         1
(63 sq.m.) Built-up Area          1
(302 sq.m.) Carpet Area           1
(264 sq.m.) Built-up Area         1
(64 sq.m.) Plot Area              1
(94 sq.m.) Built-up Area          1
(251 sq.m.) Carpet Area           1
(18 sq.m.) Plot Area              1
(325 sq.m.) Carpet Area           1
(23 sq.m.) Carpet Area            1
(291 sq.m.) Plot Area             1
(246 sq.m.) Plot Area             1
(47 sq.m.) Plot Area              1
(7692 sq.m.) Plot Area            1
(124 sq.m.) Plot Area             1
(93 sq.m.) Carpet Area            1
(163 sq.m.) Built-up Area         1
(49 sq.m.) Plot Area              1
(40 sq.m.) Carpet Area            1
(483 sq.m.) Built-up Area         1
(20064 sq.m.) Plot Area           1
(328 sq.m.) Built-up Area         1
(560 sq.m.) Plot Area             1
(110 sq.m.) Plot Area             1
(151 sq.m.) Carpet Area           1
(76 sq.m.) Plot Area              1
(40 sq.m.) Plot Area              1
(743 sq.m.) Plot Area             1
(1254 sq.m.) Plot Area            1
(2592 sq.m.) Plot Area            1
(360 sq.m.) Plot Area             1
(511 sq.m.) Built-up Area         1
(511 sq.m.) Plot Area             1
(995 sq.m.) Plot Area             1
(390 sq.m.) Built-up Area         1
(6 sq.m.) Built-up Area           1
(1115 sq.m.) Plot Area            1
(234 sq.m.) Carpet Area           1
(58 sq.m.) Plot Area              1
(65 sq.m.) Plot Area              1
(117 sq.m.) Plot Area             1
(390 sq.m.) Plot Area             1
(74 sq.m.) Plot Area              1
(174 sq.m.) Plot Area             1
(6062 sq.m.) Carpet Area          1
(52 sq.m.) Built-up Area          1
(188 sq.m.) Built-up Area         1
(5 sq.m.) Carpet Area             1
(117 sq.m.) Built-up Area         1
(98 sq.m.) Built-up Area          1
(135 sq.m.) Built-up Area         1
(242 sq.m.) Built-up Area         1
(291 sq.m.) Carpet Area           1
(124 sq.m.) Built-up Area         1
(204 sq.m.) Plot Area             1
(195 sq.m.) Carpet Area           1
(111 sq.m.) Carpet Area           1
(138 sq.m.) Built-up Area         1
(207 sq.m.) Carpet Area           1
(96 sq.m.) Carpet Area            1
(44 sq.m.) Carpet Area            1
(100 sq.m.) Carpet Area           1
(339 sq.m.) Built-up Area         1
(223 sq.m.) Built-up Area         1
(183 sq.m.) Built-up Area         1
(815 sq.m.) Plot Area             1
(254 sq.m.) Plot Area             1
(206 sq.m.) Plot Area             1
(557 sq.m.) Plot Area             1
(437 sq.m.) Built-up Area         1
(162 sq.m.) Built-up Area         1
(248 sq.m.) Built-up Area         1
(107 sq.m.) Carpet Area           1
(102 sq.m.) Carpet Area           1
(281 sq.m.) Plot Area             1
(186 sq.m.) Carpet Area           1
(152 sq.m.) Plot Area             1
(66 sq.m.) Plot Area              1
(80 sq.m.) Plot Area              1
(79 sq.m.) Plot Area              1
(176 sq.m.) Built-up Area         1
(143 sq.m.) Built-up Area         1
(69 sq.m.) Plot Area              1
(73 sq.m.) Carpet Area            1
(354 sq.m.) Plot Area             1
(594 sq.m.) Built-up Area         1
(465 sq.m.) Built-up Area         1
(222 sq.m.) Built-up Area         1
(130 sq.m.) Plot Area             1
(60 sq.m.) Plot Area              1
(71 sq.m.) Built-up Area          1
(249 sq.m.) Built-up Area         1
(153 sq.m.) Built-up Area         1
(4 sq.m.) Plot Area               1
(139-279 sq.m.) Built-up Area     1
(650-790 sq.m.) Built-up Area     1
(251-704 sq.m.) Built-up Area     1
(211 sq.m.) Built-up Area         1
(571-711 sq.m.) Built-up Area     1
(293-381 sq.m.) Built-up Area     1
(75 sq.m.) Built-up Area          1
(401 sq.m.) Plot Area             1
(1003 sq.m.) Plot Area            1
(21 sq.m.) Plot Area              1
(213 sq.m.) Plot Area             1
(590 sq.m.) Built-up Area         1
(196 sq.m.) Plot Area             1
(585 sq.m.) Plot Area             1
(180 sq.m.) Built-up Area         1
(186 sq.m.) Plot Area             1
(23 sq.m.) Plot Area              1
(743 sq.m.) Built-up Area         1
(384-392 sq.m.) Built-up Area     1
(294-418 sq.m.) Built-up Area     1
(1049 sq.m.) Plot Area            1
(283 sq.m.) Plot Area             1
(319 sq.m.) Plot Area             1
(422 sq.m.) Plot Area             1
(8 sq.m.) Plot Area               1
(543 sq.m.) Plot Area             1
(305 sq.m.) Plot Area             1
(55 sq.m.) Plot Area              1
(595 sq.m.) Built-up Area         1
(393 sq.m.) Plot Area             1
(190 sq.m.) Plot Area             1
(102 sq.m.) Plot Area             1
(669 sq.m.) Plot Area             1
(471 sq.m.) Plot Area             1
(210 sq.m.) Plot Area             1
(300 sq.m.) Plot Area             1
(255 sq.m.) Plot Area             1
(593 sq.m.) Built-up Area         1
(225 sq.m.) Plot Area             1
(510 sq.m.) Plot Area             1
(155 sq.m.) Plot Area             1
(4699 sq.m.) Plot Area            1
(250 sq.m.) Plot Area             1
(450 sq.m.) Plot Area             1
(302 sq.m.) Plot Area             1
(128 sq.m.) Plot Area             1
(181 sq.m.) Plot Area             1
(509 sq.m.) Plot Area             1
(159 sq.m.) Plot Area             1
(234 sq.m.) Plot Area             1
(537 sq.m.) Plot Area             1
Name: count, dtype: int64

In [40]:
df["price_per_sqft"] = (
    df["price_per_sqft"]
    .str.split("/")
    .str.get(0)
    .str.replace("₹", "", regex=False)
    .str.replace(",", "", regex=False)
    .str.strip()
)

# Convert safely → invalid strings become NaN
df["price_per_sqft"] = pd.to_numeric(df["price_per_sqft"], errors="coerce")

# Drop those invalid rows
df = df.dropna(subset=["price_per_sqft"])

AttributeError: Can only use .str accessor with string values!

In [ ]:
df.head()

In [41]:
#bedRoom
df["bedRoom"].value_counts()

Series([], Name: count, dtype: int64)

In [42]:
df[df["bedRoom"].isnull()]

Empty DataFrame
Columns: [property_name, society, price, rate, price_per_sqft, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, noOfFloor, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [43]:
df=df[~df["bedRoom"].isnull()]

In [44]:
df["bedRoom"]=df["bedRoom"].str.split(" ").str.get(0).astype("int")

AttributeError: Can only use .str accessor with string values!

In [45]:
df.head()

Empty DataFrame
Columns: [property_name, society, price, rate, price_per_sqft, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, noOfFloor, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [46]:
#bathroom
df["bathroom"].value_counts()

Series([], Name: count, dtype: int64)

In [47]:
df[df["bathroom"].isnull()]

Empty DataFrame
Columns: [property_name, society, price, rate, price_per_sqft, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, noOfFloor, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [48]:
df["bathroom"]=df["bathroom"].str.split(" ").str.get(0).astype("int")

In [49]:
df.head()

Empty DataFrame
Columns: [property_name, society, price, rate, price_per_sqft, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, noOfFloor, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [50]:
#balcony
df["balcony"].value_counts()

Series([], Name: count, dtype: int64)

In [51]:
df[df["balcony"].isnull()]

Empty DataFrame
Columns: [property_name, society, price, rate, price_per_sqft, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, noOfFloor, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [52]:
df["balcony"]=df["balcony"].str.split(" ").str.get(0).str.replace("No","0")

In [53]:
df.head()

Empty DataFrame
Columns: [property_name, society, price, rate, price_per_sqft, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, noOfFloor, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [54]:
#additionalRoom
df["additionalRoom"].value_counts()

Series([], Name: count, dtype: int64)

In [55]:
df["additionalRoom"].value_counts().shape

(0,)

In [56]:
df["additionalRoom"].isnull().sum()
# so we have 1304 rowsa which has nul value in additionalRoom columns

np.int64(0)

In [57]:
df["additionalRoom"].fillna("not available",inplace=True)

C:\Users\umar\AppData\Local\Temp\ipykernel_8316\667400936.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["additionalRoom"].fillna("not available",inplace=True)

In [58]:
df["additionalRoom"]=df["additionalRoom"].str.lower()

In [59]:
df.head()

Empty DataFrame
Columns: [property_name, society, price, rate, price_per_sqft, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, noOfFloor, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [60]:
# floor num
df["floorNum"]

KeyError: 'floorNum'

In [ ]:
df["floorNum"].isnull().sum()

In [ ]:
df[df["floorNum"].isnull()]

In [ ]:
df["floorNum"]=df["floorNum"].str.split(" ").str.get(0).replace("Ground","0").str.replace("Basement","-1").str.replace("Lower","0").str.extract(r'(\d+)')

In [61]:
df.head()

Empty DataFrame
Columns: [property_name, society, price, rate, price_per_sqft, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, noOfFloor, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [62]:
#facing
df["facing"].value_counts()

Series([], Name: count, dtype: int64)

In [63]:
df["facing"].isnull().sum()

np.int64(0)

In [64]:
df["facing"].fillna("NA",inplace=True)

C:\Users\umar\AppData\Local\Temp\ipykernel_8316\4189729799.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["facing"].fillna("NA",inplace=True)

In [65]:
df["facing"].value_counts()

Series([], Name: count, dtype: int64)

In [66]:
# now we are inserting a new col in to our data name "area"
df.insert(loc=4,column="area",value=round(df["price"]*10000000/df["price_per_sqft"]))

In [67]:
#agian now we are inserting a new col name "property_type"
df.insert(loc=1,column="property_type",value="flat")

In [68]:
df.head()

Empty DataFrame
Columns: [property_name, property_type, society, price, rate, area, price_per_sqft, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, noOfFloor, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    0 non-null      object
 1   property_type    0 non-null      object
 2   society          0 non-null      object
 3   price            0 non-null      float64
 4   rate             0 non-null      object
 5   area             0 non-null      float64
 6   price_per_sqft   0 non-null      float64
 7   areaWithType     0 non-null      object
 8   bedRoom          0 non-null      int64
 9   bathroom         0 non-null      int64
 10  balcony          0 non-null      object
 11  additionalRoom   0 non-null      object
 12  address          0 non-null      object
 13  noOfFloor        0 non-null      object
 14  facing           0 non-null      object
 15  agePossession    0 non-null      object
 16  nearbyLocations  0 non-null      object
 17  description      0 non-null      object
 18  furnishDetails   0 non-null      object
 19  features         0 non-null      object
 20  rating           0 non-null      object
dtypes: float64(3), int64(2), object(16)
memory usage: 0.0+ bytes

In [70]:
df.shape

(0, 21)

In [ ]:
df.to_csv("flats_cleaned.csv",index=False)